.feynman__link {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: 0.5;
  text-shadow: 2px 2px 0 black;
}
